{% block title %}Log-in{% endblock %}
{% block content %}
 <h1>Log-in</h1>
 <form method="post">
 {{ form.as_p }}
 {% csrf_token %}
 <p><input type="submit" value="Log in"></p>
 
 </form>
 <div class="text-center pt-1 mb-5 pb-1">
    <a href="{% url 'password_reset' %}" class="text-white text-decoration-none ms-2">Forgot password</a>
  </div>
  <div class="d-flex align-items-center justify-content-center pb-4">
    <p class="mb-0 me-2">Don't have an account?</p>
    <a href="{% url 'register' %}" class="btn btn-outline-light">Register</a>
  </div>
{% endblock %}