<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>reset password confirm</title>
    <link rel="stylesheet" href="/static/bootstrap-5/css/bootstrap.min.css" />
  </head>

  <body>
    {% block content %}
      <h2>Enter new password</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Change Password</button>
      </form>
    {% endblock %}

  </body>
</html>
