<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>reset password done</title>
    <link rel="stylesheet" href="/static/bootstrap-5/css/bootstrap.min.css">
</head>

<body>

    {% block content %}
    <div class="container text-center mt-5">
      <h2>Password Reset Email Sent</h2>
    <p>We've emailed you instructions for setting your password. If you don't receive the email, please check your spam folder.</p>
      <div/>
    {% endblock %}

</body>

</html>
